<h2>Guess the Number</h2>

<div class="keypad">
  <a href="/secret_num/guess/1">
    <div class="key">
      <p>1</p>
    </div>
  </a>

  <a href="/secret_num/guess/2">
    <div class="key">
      <p>2</p>
    </div>
  </a>

  <a href="/secret_num/guess/3">
    <div class="key">
      <p>3</p>
    </div>
  </a>

  <a href="/secret_num/guess/4">
    <div class="key">
      <p>4</p>
    </div>
  </a>

  <a href="/secret_num/guess/5">
    <div class="key">
      <p>5</p>
    </div>
  </a>

  <a href="/secret_num/guess/6">
    <div class="key">
      <p>6</p>
    </div>
  </a>

  <a href="/secret_num/guess/7">
    <div class="key">
      <p>7</p>
    </div>
  </a>

  <a href="/secret_num/guess/8">
    <div class="key">
      <p>8</p>
    </div>
  </a>

  <a href="/secret_num/guess/9">
    <div class="key">
      <p>9</p>
    </div>
  </a>
</div>
