<div class="container-new">
  <h2>CREATE A MAGNIFICIENT PASTRY</h2>
  <form action="/doughnuts" method="post">
    <label>
      Name
      <input type="text" name="name" placeholder="Unicorn bunion" required">
    </label>
    <label>
      Type 
      <input type="text" name="type" placeholder="Raised... Cake...">
    </label>
    <label>
      Shape 
      <input type="text" name="type" placeholder="Ring... Hole... Filled..">
    </label>
    <label>
      Image URL
      <input type="url" name="image" placeholder="http://...">
    </label>
    <button>CREATE!</button>
  </form>
</div>