 <div class="greeting-circle">
 
 <p>Massive, greasy, unnaturally regular, flat, sturdy, single plain, sugar-coated, octagonal, leftover, warm, sweet, best damned, four-dimensional, powdered, all-night, unfinished, uncontrollable, oblong, frantic, oversized, busy, greasy, empty...</p>
 </div>