<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOUGHNUT BE ALARMED</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap" rel="stylesheet">
</head>
<body>
  <h1>D🍩ughnut.</h1>
  <nav>
    <ul>
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/index">Doughnut Dictionary</a></li>
    </ul>
  </nav>
 <%= yield %>

</body>
</html>