<header id='home-page'>
  <h1>Farid's Favourite Movies and Directors </h1>
</header>

<div id="movies">
  <p><%= link_to image_tag '35mm_movie_negative.jpg', :id =>'img-home' %></p>
  <p><%= link_to "Movies",movies_path %></p>
</div>

<div id="directors">
  <p><%= link_to image_tag 'director.jpg', :id => 'img-home' %></p>
  <p><%= link_to "Directors", directors_path %></p>
</div>
