<div class="container-search">
<h3>Search a book by it's title</h3>
  <form action="/books">
    <div class="card-input">
      <input class="blue-input" name="title" placeholder="Enter a book title" required="true">
      <button class="blue-btn">Search Books</button>
    </div>
  </form>
  <br>
  <h4>Sinatra Exercise</h4>
      Build a search form that lets the user enter a book title. The Sinatra app will use HTTParty to fetch the data for the chosen book from Google Books and display it on the page. Display the cover, as a bare minimum.
  <h5>Sample URL</h5>
  <a href="https://www.googleapis.com/books/v1/volumes?q=title:Ulysses">Ulysses</a>
  <h5>Additional Resources</h5>
  <a href="http://sinatrarb.com">Sinatra</a>
  <br>
  <a href="https://developers.google.com/books/docs/v1/reference/volumes/list">Google Books Search API</a>
  <br>
  <a href="http://blog.teamtreehouse.com/its-time-to-httparty">HTTParty Tutorial</a>
</div>
