<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/981f90698c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/mobster.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Google Books</title>
</head>
<body>
  <div class="container">
  <nav>
    <a href="/">Home</a>
  </nav>
  <h1>Google Books</h1>
    <%= yield %>
  </div>
  <footer>
    <div class="contact">
      <a href="https://github.com/mhulbert85"><i class="fab fa-github"></i>Mike Hulbert</a>
  </footer>
</body>
</html>
