<h2>
  <strong><%= @display_title %></strong> <span>by <%= @book_author %></span>
</h2>
<img src="<%= @book_thumb_url %>" alt="thumbnail">
<p>
  <strong>Overview</strong>
</p>
<p>
  <%= @book_snippet %>
</p>
