<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Quote</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <h1>Stock Quote for <%=stock%> is <%=quote%> </h1>
  </body>
</html>
