<h2>Add New Masquerade Masks</h2>

<form action="/masks" method="post">
  <label>
    Type:
    <input name="type" placeholder="The Bauta" required>
  </label>
  <label>
    Colour:
    <input name="colour" placeholder="blue">
  </label>
  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>
  <button>Create Mask</button>
</form>
