<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cat Facts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>
  <body>
    <h1>Cat Facts</h1>
    <p><%= fact %></p>
    <a href="/">More</a>
  </body>
</html>
