.container {
  max-width: 960px;
  margin: 0 auto;
}

.feature {
  max-width: 100%;
}

form {
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

h1 {
  text-align: center;
}

.course_list {
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5em;
  font-size: 20px;
}
