


body{
  /* background: "images/bg_body.jpg"; */
  background: black
}

#container{
  background: white;
  width: 1000px;
  height: 800px;
  margin: auto auto;
}

header{
    padding: 10px;
    margin: auto auto;
    height: 300px;
    width: 1000px;
    background-color: #F5F5F5;
}

nav{
  /* margin: auto auto; */
  background: black;
  height: 50px;
}

----------------socialMedia---------------

#socialMedia {
  margin-top:auto auto ;
}

ul li{
  display: inline-block;
  margin: 5px;
  color: white;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
----------------------Banner---------------------


.photobanner{
  margin:auto;
  box-shadow: ;
}

#blurb {
  border: 5px, 5px, 5px, 5px;
}
