<h1>All Plants</h1>

<form action="/plants" method="post">
<label>
  Name:
  <input type="name" placeholder="Enter Name" required>
</label>

<label>
  Family:
  <input type="family" placeholder="Enter Family">
</label>

<label>
  Image:
  <input type="url" placeholder="https://...">
</label>

<button>Seed Plant!</button>
</form>
