<h2>New Doggo</h2>

<form action="/dogs" method="post">
  <label>
    Name:
    <input name="name" placeholder="German Shorthaired Pointer" required>
  </label>

  <label>
    Origin:
    <input name="family" placeholder="Germany">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Doggo</button>
</form>
