<h1>Doggos are great</h1>

<p>You too can be as great as a doggo</p>

<div class="img-container">
  <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/21/7/asset/buzzfeed-prod-fastlane-02/sub-buzz-668-1490096330-22.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto" alt="happy doggo">
</div>
