<h1>Doggos are great</h1>

<p>You too can be as great as a doggo</p>

<img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/21/7/asset/buzzfeed-prod-fastlane-02/sub-buzz-668-1490096330-22.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto" alt="happy doggo">
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/21/7/asset/buzzfeed-prod-fastlane-02/sub-buzz-32232-1490094327-1.png?downsize=700%3A%2A&output-quality=auto&output-format=auto" alt="Doggo of doggos">
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/21/6/asset/buzzfeed-prod-fastlane-02/sub-buzz-31215-1490093365-5.jpg?downsize=600:*&output-format=auto&output-quality=auto" alt="Doggo1">
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/20/12/asset/buzzfeed-prod-fastlane-02/sub-buzz-22559-1490028068-1.png?downsize=600:*&output-format=auto&output-quality=auto" alt="Doggo2">
