<section class="section">
  <div>
    <h1>Games on Rails
      <span>by Mike</span></h1>
    <p class="my-1">
      Welcome to Games on Rails! Play Magic 8 Ball or Secret Number.
      <br>
      ( Rock Paper Scissors coming soon! )
    </p>
    <a href="/magic8ball" class="btn-primary">Magic 8 Ball</a>
    <a href="/secret_number" class="btn-secondary">Secret Number</a>
  </div>
  <%= image_tag("game.svg", width: '400px', height: '400px') %>
</section>
