<section class="section">
  <div>
    <form action="/secret_number" method="get" class="form">
      <div class="form-group">
        <label>Guess a number between 0 and 10: </label>
        <%= image_tag("lock.svg", width: '100px', height: '100px') %>
        <input type="number" name="guess" />
        <button class="btn-primary">Submit</button>
      </div>
    </form>
    <%= @result %>
  </div>
</section>
