<h1>Welcome to Magic 8 Ball!</h1>


<form class="magic_question" action="/magic/results">
  <label>
    Please ask a yes-no question and the ball will reveal the answer you seek:
    <input name="fortune" placeholder="Question">
  </label>


  <button>Reveal Fortune</button>
</form>
