<div class="showcase-content">
  <div>
    <h1>General Assembly: <br> <span>SEI Cohort 38</span></h1>
    <p class="my-1">
      Welcome to the home of SEIC38! GA Staff & Students can sign up below or feel free to browse our site. Enjoy! 
    </p>
    <a href="#" class="btn-primary">Learn More</a>
    <a href="#" class="btn-secondary">Sign Up</a>
  </div>
  <img src="https://themesbrand.com/zooki/layouts/images/home-2-img.png"/>
</div>
