<div class="showcase-content">
  <form action="" class="grid-factory-3x7">
    <div class="grid-factory-one">
      <h1>Feature Request</h1>
      <h3>Have you got an idea
        <span>Submit it below!</span></h3>
    </div>
    <input class="grid-factory-two input-factory" type="text" name="name" placeholder="Enter your full name">
    <input class="grid-factory-three input-factory" type="text" name="slug" placeholder="Enter your preferred name">
    <input class="grid-factory-four input-factory" type="email" name="email" placeholder="Enter your email">
    <input class="grid-factory-five input-factory" type="text" name="request" placeholder="Let us know about your idea">
    <input class="grid-factory-six custom-file-input" type="file" name="files">
    <button class="max-width grid-factory-seven btn-factory blue-btn">Submit</button>
  </form>
</div>
