<h1>Welcome to bookcovers!</h1>
<h2>Please type in a book.</h2>

<form class="book_form" action="/cover">
  <label>
    Book Title:
    <input name="title" placeholder="Type here">
  </label>


  <button>Submit</button>
</form>
