<div class="rock_container">
<h2>test</h2>

<form class="" action="/rock_paper_scissors/:throw" method="get">
  <label>
    Emter your guess:
    <input type="text" placeholder="Rock, Paper or Scissors" name="guess" required>
  </label>
  <button>Submit your guess</button>
</form>

</div>
