<h2>New Beer Entry</h2>

<p>each new submission will put you in the draw to win a key advertisement position at the next <a href="https://www.worldbeercup.org/"><strong>World Beer Cup</strong></a> competition held in 2021 and to meet with us and all of our sponsors!
</p>

<form action="/beers" method="post">
<label>
  Name:
  <input name="name" placeholder="RobBrew" required>
</label>

<label>
  Type:
  <input name="type" placeholder="Ale">
</label>

<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>

<button>Add Beer</button>
</form>
