<h1>Ask a magical question</h1>
<form action="/magicball_result">
  <label for="">Question:
    <input type="text" placeholder="Am i dead?" name="question">
  </label>
  <button>Submit</button>
</form>
