<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather app</title>
  </head>

  <body>
    <div id='container-home'>
      <div id="head">

        <header>
          <h1>Weather App</h1>
        </header>

        <form action="/city-weather">
          <label>
            Enter a city name:
            <input name="city" placeholder="Sydney" id='city'>
          </label>
          <button id='search'>Search</button>
        </form>

      </div>
    </div>
  </body>

</html>
