<title>Book Info</title>

<form action="/result">
  <label>
    What is the book you looking for:
    <input placeholder='Das Kapital' name='book' required>
    <button>Submit</button>
  </label>
</form>

<div id='engine'>
  <p>-This is a book engine which give you the chance to
  type name of a book and it will give you a summary of that.-</p>
  <p>-It will show the book title, the cover, the authors and a
    description.-</p>
</div>
