<h2>New Body Part</h2>

<form  action="/human" method="post">
  <label>
    Name:
    <input name="name" placeholder="Pedal" required>
  </label>

  <label>
    Family:
    <input name="parts" placeholder="Foot">
  </label>

  <label>
   Image:
   <input type="url" name="image" placeholder="http://...">
  </label>

</form>

  <button>Add Parts!</button>
</form>
