<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Human Body Parts</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/human">All Human Body Part</a>
        <a href="/human/new">Add New Body Part</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
