<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <h1>Find Stock</h1>
  <form action="/info">
    <label>
      Stock Code:
      <input type="search" name="symbol" placeholder="APPL" required>
    </label>
  <button>Search</button>
  </form>
</body>
</html>
