<h2>Add your favourites diving centers</h2>

<form action="/diving" method="post">
  <ul>
    <li>
      <label>
        Name:
        <input type="text" name="name" placeholder="My diving center">
      </label>
    </li>
    <li>
      <label>
        Country:
        <input type="text" name="country" placeholder="Australia">
      </label>
    </li>
    <li>
      <label>
        City:
        <input type="text" name="city" placeholder="Sydney">
      </label>
    </li>
    <li>
      <label>
        Map:
        <input type="url" name="map" placeholder="https://www.bing.com/maps/...">
      </label>
    </li>
    <li>
      <label>
        Website:
        <input type="url" name="website" placeholder="http://www.website.com">
      </label>
    </li>
  </ul>
  <button>Add to the list</button>

</form>
