<h2>Welcome in the diving center database</h2>

<p>In this database you can find a list of diving centers for recreational dive. You can add and edit your favourites spots. thank you for participating in the growing of this database</p>
