<h2>Look up a book title to find cover</h2>
<form action="/result">
  <label>
    Book Title:
    <input type="text" name="book" placeholder="Shantaram" required>
  </label>
  <button>Get Cover</button>
</form>
