<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Quotation</title>
  </head>
  <body>
    <h1>Stock infos</h1>
    <form action="/quote">
      <label>
        Stock Symbol
        <input name="quote" placeholder="AAPL" value="AAPL">
      </label>
      <button>Find</button>

    </form>
  </body>
</html>
