
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Noto+Serif:ital,wght@1,700&family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

*{
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  display: block;
  width: auto;
  height: auto;
}

main {
  padding: 0px 300px 70px 300px;
}
h1 {
  font-size: 400%;
  text-align: center;
  padding-top: 10px;
}

h2 {
  border-bottom: 3px;
  text-align: left;
  font-size: 300%;
  padding-left: 0px;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
}

h2.book {
  float: left;
  text-align: left;
}

h3 {
  text-align: right;
  margin-top: 0px;
  font-size: 150%;
  color: grey;
}

h2 , h3 {
  width: 30%;
  display: inline;
  padding-right: 3px;
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 5px;
  font-size: 20px;
  padding-bottom: -0px;
  padding-left: 0px;
  padding-top: 0px;
}

main p{
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

p.header {
  margin-top: 0px;
  padding-bottom: 1px;
  text-align: center;
  float: center;
  font-style: italic;
}

p a{
  font-weight: bold;
}

nav {
  list-style-type: none;
  margin-right: 15px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: :#111;
}

img.main {
  display: block;
  float: right;
  width: 520px;
  margin: auto;
  padding-top: 20px;
  padding-left: 30px;

}

img.bottom {
  display: block;
  float: left;
  width: 500px;
  margin: 15px 20px 5px 0px;
}
