@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  font-size: 1.35rem;
  line-height: 1.1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #94a1b2;
}
body {
  background-color: rgb(28, 28, 45);
}
h2 {
  font-size: 4em;
}
h3 a {
  font-size: 2em;
}
span {
  color: #2cb67d;
}
.cite {
  color: #94a1b2;
  font-style: italic;
  font-size: smaller;
}
section {
  margin: 3em;
}
