<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wallstreet Stock</title>
  </head>
  <body>
    <h1>Wallstreet Stock Quote</h1>
    <label>
      Type Stock Symbol:
      <input  name="stock_symbol" placeholder="ie AAPL">
    </label>
    <button>Click for Price</button>
  </body>
</html>
