<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wallstreet Stock</title>
  </head>
  <body>
    <h2>Your Stock Answer</h2>
    <h3>The currency is: <%= currency %></h3>
    <h3>The current price is: <%= currentPrice %></h3>
    <h3>The cash per share is: <%= cashPerShare %></h3>
  </body>
</html>
