<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Episode infos</title>
  </head>
  <body>
    <h1>Infos about the episode <%= request %></h1>
    <p>
      Name: <%= episode.name %>
    </p>
    <p>
      Air Date: <%= episode.air_date %>
    </p>

  </body>
</html>
