<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rick and Morty</title>
  </head>
  <body>
    <h1>Enter an Episode</h1>
    <form action="/episode">
      <label>
        Episode:
        <input name="episode" placeholder="12">
      </label>
      <button>submit</button>

    </form>
  </body>
</html>
