<h1>choose a play</h1>

<a href="/rockpaperscissors/rock">Rock</a>
<a href="/rockpaperscissors/paper">Paper</a>
<a href="/rockpaperscissors/scissors">Scissors</a>
<a href="/rockpaperscissors/lizard">Lizard</a>
<a href="/rockpaperscissors/spock">Spock</a>

<h2>Rules:</h2>
<img src="/images/rules.png" alt="">
