<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <label>
    Elevation:
    <input type="number" name="elevation">
  </label>
  <label>
    Location:
    <input type="text" name="location">
  </label>
  <label>
    First Ascent:
    <input type="text" name="first_ascent">
  </label>
  <label>
    Image Link:
    <input type="url" name="image">
  </label>
  <button>Create Mountain</button>
</form>