<h1>Assets Helpers</h1>

<!-- <img src="" alt=""> -->

<%= image_tag "https://s.abcnews.com/images/2020/abc_2020_smoking_baby_110906_wg.jpg", alt="a kid smoking a dart" %>

<%= image_tag 'funny.jpg' %>

<p>there are also helpers for video_tag, audio tag</p>
