<h2>Scissor Paper Rock</h2>

<p>Make your selection:</p>

<div class="choice">
  <p><a href="/rock/play/scissors">Scissors</a></p>
</div>
<div class="choice">
  <p><a href="/rock/play/paper">Paper</a></p>
</div>
<div class="choice">
  <p><a href="/rock/play/rock">Rock</a></p>
</div>
