* { cursor: url('../assets/cat.png'), pointer;}

body {
  background-color: pink;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.btn-box {
  position: relative;
  width: 400px;
  padding: 10px;
  margin: 100px 0;
}

.cat-gif {
  top: 450px;
}

.toggle {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #0c6df3;
  border: 2px solid white;
  border-radius: 5px;
  margin: 1px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 4px;
  opacity: 0.7;
}

.toggle:hover {
  width: 100%;
  height: 90px;
  background-color: #28d798;
  opacity: 1;
}
