<h1>Add a film to the list!!!</h1>

<form action="/films" method="post">
  <label>
    Title:
    <input name="title" placeholder="Raging Bull" required>
  </label>
  <label>
    Director:
    <input name="director" placeholder="Martin Scorsese">
  </label>
  <label>
    Genre:
    <input name="genre" placeholder="Sport/Drama">
  </label>
  <label>
    Year:
    <input name="year" placeholder="1980">
  </label>
  <label>
    Cover:
    <input type="url" name="cover" placeholder="https://web_url">
  </label>

  <button>Add Film</button>


</form>
