
header {
  max-width: 960px;
  background-color: black;
  padding: 20px;
}
nav a {
  font-family: sans-serif;
  text-decoration: none;
  color: #b0aea9;
  padding: 20px;

}

/* Change the link colour on hover */
nav a:hover {
  background: url(../images/bg_nav_rollover.png);
}

#main-content {
  position: relative
}

#logo {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin: 23, 0, 23, 0;
  
}

#socialMedia {
  display: inline-block;
  vertical-align: top;

  width: 74%;
}
#socialMedia ul {
  margin: 0;
  padding: 0, 0, 0, 400;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;


}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}

#photobanner {
  border: solid black;
  margin 20px;
}

#blurb {
  background: url(../images/bg_blurb.jpg);
  margin: 0 auto;

}
