<div class="table">
<img src="/img/blink.jpeg" alt="pancakes with sour cream and red caviar" class="home blink">
<img src="/img/cheese-fritter.jpeg" alt="cheese-fritter" class="home cheese">
<img src="/img/pierogi.jpg" alt="pierogi" class="home pierogi">
</div>
