<h2>Add a recipe</h2>

<form action="/recipes" method="post">
  <label>
    Recipe Name:
    <input name="name" type="text" placeholder="Borchst" requried>
  </label>
  <label>
    Meal Type:
    <input name="mealtype" type="text" placeholder="Main / Dessert" required>
  </label>
  <label>
    Image:
    <input name="image" type="url" placeholder="http://...">
  </label>

  <button>Create Recipe</button>
</form>
