<h2>Eight ball form</h2>

<form action="/eight_ball/result">
<label>
  Enter your question:
  <input type="text" placeholder="question?" name="question" required>
</label>
<button>Click for your answer</button>
</form>
