<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Stock</title>
  </head>
  <body>
    <h3>Stock Exchange</h3>
    <form action="/stockDisplay" method="get">
      <label>Stock code:
        <input type="text" name="stockcode" placeholder="GOOG">
      </label>
      <button>Search Stock</button>
    </form>
  </body>
</html>
