<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Display stock exchange results</title>
  </head>
  <body>
    <h3>Stock Exchange</h3>
    <h5>Stock Code: <%= stockcode %></h5>
    <h5>Stock price: <%= stockCurrentPrice %></h5>
  </body>
</html>
