<h2> Add A New System: <h2>


<form action="/consoles" method="post">
  <label>
      Name:
    <input name="name" placeholder="Console Name" required>
  </label>
<br>
  <label>
    Company:
    <input name="company" placeholder="Company">
  </label>
<br>
  <label>
      year:
    <input name= "year" placeholder="year">
  </label>
<br>
  <label>
     Image:
    <input type="url" name="image" placeholder="http://...">
  </label>
<br>
<br>
  <button>Add New Console</button>
</form>