<head>
  <meta charset="UTF-8">
  <title>consoles</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/consoles_index">Video Game Systems</a>
      <a href="/consoles_new">Add to Collection</a>
    </div>
    <%= yield %>
  </div>
</body>
</html>