<h2>Results for: <%= @search.join(" and ") %> </h2>

<% @cameras.each do |camera| %>
  <p>
    <a href="/cameras/<%= camera['id'] %>">
      <%= "#{camera['manufacturer']} #{camera['model']}" %>
    </a>
  </p>
<% end %>
