<h2>Search for a camera</h2>

<form action="/cameras/results">
  <label>
    Manufacturer:
    <input name="manufacturer" placeholder="Nikon">
  </label>

  <label>
    Model:
    <input name="model" placeholder="D7600">
  </label>

  <label>
    Medium:
    <input name="medium" placeholder="APS-C">
  </label>

  <label>
    Focus Type:
    <input name="focus_type" placeholder="SLR">
  </label>

  <button>Search</button>
</form>
