<h2>New Camera</h2>

<form action="/cameras" method="post">
  <label>
    Manufacturer:
    <input name="manufacturer" placeholder="Nikon" required>
  </label>

  <label>
    Model:
    <input name="model" placeholder="D7600" required>
  </label>

  <label>
    Medium:
    <input name="medium" placeholder="APS-C">
  </label>

  <label>
    Focus Type:
    <input name="focus_type" placeholder="SLR">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add Camera</button>
</form>
