<h1>Welcome to my camera collection</h1>

<p>I'm Nick, an amateur camera collector and photographer. This website stores basic information on my current camera collection. You can see my photos on my instagram, <a href="https://www.instagram.com/forcbe.shoots/" target="_blank">@forcebe_shoots</a></p>
