<header>
  <nav>
    <a href="/">Home</a>
  </nav>
</header>

<form action="/guess/result">
  <label>Guess a number up to 500:
    <input type="number" placeholder='2' name='number' required>
  </label>
  <button>Click</button>
</form>
