<header>
  <h1> Games On Rails </h1>
</header>

<div id='magic8'>
  <a href="/magic8">
    <img src="/assets/Magic8.gif" width='250' height='200' alt="Magic8">
    <p>Magic 8</p>
  </a>
</div>

<div id='guess'>
  <a href="/guess">
    <img src="/assets/guess.jpg" width='250' height='200' alt="Guess Number">
    <p>Guess Number</p>
  </a>
</div>

<div id='rps'>
  <a href="/rps">
    <img src="/assets/RPS.gif" width='250' height='200' alt="Rock-Paper-Scissors">
    <p>Rock-Paper-Scissor</p>
  </a>
</div>
