* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: rgb(42, 156, 198);
}
body {
  background-image: url(../images/bg_blurb.jpg), url(../images/bg_body.jpg);
  background-size: 5px 40vw, 80px 80px;
  background-position: 0 0, 0 38.5%;
  background-repeat: repeat-x, repeat;
}
/* Navigation Bar */
#header {
  height: 90px;
  background-color: black;
  padding-left: 10%;
}
#header nav {
  height: 100%;
}
#header nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  color: rgb(254, 246, 239);
}
#header nav ul li {
  height: 100%;
  padding: 0 2em;
  line-height: 90px;
}
#header nav ul li:hover {
  color: rgb(81, 208, 254);
  background: url(../images/bg_nav_rollover.png);
  background-repeat: repeat-x;
}
/* End Navigation Bar */
/* Main Content */
main {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}
/* Logo and Social Icons */
#logo-socials {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 8px 0;
}
#logo-socials img {
  height: max-content;
}
#social-media ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: blue;
  text-indent: -9999em;
}
#social-media ul li.linkedIn {
  background: url(../images/socialNav.png) 0px 64px;
}
#social-media ul li.twitter {
  background: url(../images/socialNav.png) -60px 64px;
}

#social-media ul li.facebook {
  background: url(../images/socialNav.png) -120px 64px;
}

#social-media ul li.rss {
  background: url(../images/socialNav.png) -180px 64px;
}

#social-media ul li.linkedIn:hover {
  background: url(../images/socialNav.png) 0px 0px;
}

#social-media ul li.twitter:hover {
  background: url(../images/socialNav.png) -60px 0px;
}

#social-media ul li.facebook:hover {
  background: url(../images/socialNav.png) -120px 0px;
}

#social-media ul li.rss:hover {
  background: url(../images/socialNav.png) -180px 0px;
}
/* End Logo and Social Icons */
/* Hero Image */
#slideshow-container {
  line-height: 0;
}
#slideshow-container img {
  width: 100%;
}
/* End Hero Image */
/* Request A Quote */
#request-quote-container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.request-quote-paragraph {
  width: 70%;
}
#request-quote-container img {
  height: max-content;
}
/* End Request A Quote */
/* Home Box */
#home-box-container {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-box-card {
  flex: 1 1 400px;
  padding: 0 1em;
  margin-bottom: 2em;
}
#home-box-container h2 {
  font-weight: lighter;
}
#home-box-container img {
  border: 5px solid lightgray;
  padding: 1px;
  width: 100%;
  margin: 0.5em 0;
}
#home-box-container p,
#home-box-container a {
  line-height: 1.2;
  font-size: 14px;
  margin: 0 0 0.5em 0;
}
/*End Homebox */
/* Footer */
footer {
  font-size: 12px;
  background-color: black;
  color: rgb(97, 97, 97);
}
#footer-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3em;
}
#blog-roll {
  flex: 0 1 25%;
}
#text-widget {
  flex: 0 1 35%;
}
#meta-container {
  flex: 0 1 20%;
}
#blog-roll h3,
#text-widget h3,
#meta-container h3 {
  font-size: 18px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(97, 97, 97);
  color: rgb(193, 191, 191);
}
.blog-roll-link,
.meta-widget-link {
  border-bottom: 1px solid rgb(97, 97, 97);
  list-style: none;
  padding: 0.5em 0;
}
.copyright-information {
  display: flex;
  justify-content: space-between;
  padding: 3em 3em 2em 3em;
}
/* End Footer */
/* Media Query */
@media only screen and (max-width: 735px) {
  body {
    background-size: 5px 93vw, 80px 80px;
  }
  #header {
    padding: 0;
  }
  #header ul {
    display: flex;
    justify-content: space-evenly;
  }
  #header nav ul li {
    padding: 0;
  }
  #logo-socials {
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 0 16px 0;
  }
  #request-quote-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .request-quote-paragraph {
    width: 100%;
    padding: 0.5em;
    font-size: 12px;
    text-align: center;
  }
  .copyright-information {
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright-information span {
    flex: 1 1 60%;
    text-align: center;
  }
}
