<header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <h1>Rock-Paper-Scissors</h1>
</header>

<div id='rps_images'>
  <p>Choose from below<p>
  <div id='r'>
    <a href="/rps/Lapis">
      <img src="/assets/r.png" alt="Rock" width='100'>
    </a>
  </div>

  <div id='p'>
    <a href="/rps/Papyrus">
      <img src="/assets/p.png" alt="Paper" width='100'>
    </a>
  </div>

  <div id='s'>
    <a href="/rps/Scalpellus">
      <img src="/assets/s.png" alt="Scissors" width='100'>
    </a>
  </div>
</div>
