<h1>Rock Paper Scissors coming soon after more knowledge!</h1>
<p>But heres a form... just because.</p>

<form action="/rock_paper_scissors">
  <label>
    Throw:
    <input type="text" name="throw" require placeholder="Choose your throw!">
  </label>

  <button>Submit Throw!</button>
</form>
