<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stonks!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>
  <body>

    <h1>Stonks!</h1>
    <form action="/stonk">
      <label>
        Enter a stock symbol:
        <input
          name="symbol"
          placeholder="MSFT, AAPL, GOOG"
          required
        >
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
