<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STONK!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>
  <body>
    <h1>Your Stonk</h1>
    <h3><%= name %></h3>
    <p>Closed at: <strong>$<%= close %></strong></p>
    <a href="/">Home</a>
  </body>
</html>
