<div id="container">
<h1>Ask me your question</h1>

<form action="/magic/answer">
  <label>
    Your question here:
    <input type="text" placeholder="Will I die soon?" name="query" required>
  </label>

  <button>Tell my fate</button>
</form>
</div>
