<form action="/rps/play">
  <label for="">
    Your choice?
    <select name="choice">
    <option value="rock">ROCK</option>
    <option value="scissors">SCISSORS</option>
    <option value="paper">PAPER</option>
    </select>
    <button>Play</button>
  </label>
</form>