<h1>Secret Number</h1>
<h3>Find the secret number!</h3>

<form action="/secretnumber">
  <label>
    Select Number:
    <input type="number" name="secret_number" require placeholder="0">
  </label>

  <button>Find Secret Number</button>
</form>
