<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Answer</title>
  </head>
  <body>
    <h2>Current Price for <%= symbol %></h2>
    <h1><%= price %></h1>
  </body>
</html>
