<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock</title>
  </head>
  <body>
    <h2>Look up a stock price</h2>
    <form action="/answer">
      <label>
        Stock:
        <input name="symbol" placeholder="GOOG">
      </label>
      <button>Search</button>
    </form>
  </body>
</html>
