<header>
  <nav>
    <a href="/">Home</a>
  </nav>

  <h1> Magic 8 Ball </h1>
</header>


<form action="/magic8/result">
  <div id='labels'>
    <p><label>What is your name:</label></p>
    <p><label>Feed me a question:</label></p>
  </div>

  <div id="input">
    <p><input type="text" placeholder="Farid" name='name' required></p>
    <p><input type="text" placeholder="...?" name='question' required></p>
  </div>
  <div id=button>
    <button>Click</button>
  </div>
</form>
