<header>
  <nav>
    <a href="/">Home</a>
    <a href="/magic8">Ask Again</a>
  </nav>
</header>


<div id="magic8_result">
  <p><%= "#{@name}" %>: <%= "#{@question}" %></p>
  <p> Magic 8 Ball: <%="#{@rand_answer}" %></p>
</div>
