<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Stock Quote Search</title>
  </head>
  <body>

    <h2>Enter Stock Name</h2>

    <form action="/stock">
      <label>
        Your Stock:
        <input name="stock" placeholder="GOOGL" value="">
      </label>
      <button>Search</button>
    </form>

  </body>
</html>
