<h1>Welcome</h1>
<p>Games on Rails is a web application with three games

<ul>
  <p><a href="/eight_ball">Magic 8 Ball</a></p>
  <p><a href="/secret_num">Secret Number</a></p>
  <p><a href="/rock_paper_scissors">Rock Paper Scissors</a></p>
</ul>

</p>
