

<h2>Ask your question</h2>

<form action="/magic/result">
  <label>
    Question:
    <input type="text" name="question" required placeholder="Yes or No Question">
  </label>
  <button>Ask</button>
</form>
