<h2>Choose a number between 1 and 10</h2>

<form action="/secret_num/result" method="get">
  <label>
    Enter your guess:
    <input type="number" placeholder="enter guess here" name="guess" required>
  </label>
  <button>Click to submit</button>
</form>
