<h1>Book Finder</h1>

<p>Enter a book title to fetch information about a book.</p>

<form action="/result">
  <label>
    Title:
    <input type="text" name="title" placeholder="Beowulf" required>
  </label>
  <button>Search</button>
</form>
