#topbanner {
  height: 77px;
  background-color: black;
}
.menu {
  display: inline-block;
  height: 77px;
  text-decoration: none;
  color: white;
  height: 90px;
  margin: 30px 15px;
}
#menubar:first-child{
  margin-left: 70px
}

#mainframe {
  margin-left: 70px;
  width: 960px;
}
#logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

#socialMedia {
	float: right;
  margin-top: 30px;
}
#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}
#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}
#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}
#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}
#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}
#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}
#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}

#photobanner {
  position: relative;
  top: -5px;
}
#photobanner_shadow {
  position: relative;
  top: -10px;
}


#maintext {
  display: inline-block;
  width : 960px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#maintext p {
  width: 700px;
  margin-left: 20px;
}
#maintext img {

}


.homebox {
  width: 280px;
  display: inline-block;
  margin: 20px;
}
.homebox img {
  width:100%;
}
.homebox p {
  font-size: 10px;
}
.homebox a {
  color: blue;
  font-size: 10px;
  text-decoration: none;
  margin: 0
}
#homebox1 {
  margin-left: 70px;
}
