<div id="container">
<h1>Book Finder</h1>

<form action="/result">
  <label>
    Search a book with title:
    <input type="text" placeholder="Foundation" name="book_title" required>
  </label>

  <button>I'm Feeling Lucky</button>
</form>
</div>
