<h2>new hat</h2>
<form  action="/hats" method="post">
  <label>
    Name:
<input type="text" name="name">
  </label>
  <label>
    From:
    <input type="text" name="country">
  </label>
  <label>
    For Woman:
    <input type="text" name="isWoman" >
  </label>
  <button>Create a hat..</button>
</form>
