<h2> name :<%= @hats["name"]%></h2>
<h3>country: <%= @hats["name"] %></h3>

<div class="controls">
  <a href="/hats/<%= @hats["id"]%>/edit">EDIT</a>
  <a href="/hats/<%= @hats["id"]%>/delete">DELETE</a>
</div>
