<h1>Welcome to site to introduce different hat styles</h1>
<p>This is a list of various kinds of hat, contemporary or traditional. Headgear has been common throughout the history of humanity, present on some of the very earliest preserved human bodies and art.</p>
