<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hats</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/hats">All Hats</a>
      <a href="/hats/new">New Hat</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
