<h1>New Sheep</h1>

<form action="/sheep" method="post">

  <layout>
    <input name="breed" placeholder="Devon and Cornwall Longwool" required>
  </layout>

  <layout>
    <input name="origin" placeholder="Northern Devon in England">
  </layout>

  <layout>
    <input type="url" name="image" placeholder="http://..">
  </layout>

  <button>New Sheep</button>


</form>
