<h1>New beach</h1>

<form action="/beaches" method ="post">
  <label>
    Name of Beach:
    <input name ="beach" placeholder="Bondi">
  </label>
  <label>
    Country:
    <input name ="country" placeholder="Australia">
  </label>
  <label>
    Image:
    <input type="url" name ="image" placeholder="https://...">
    <button>List Beach</button>
  </label>
</form>
