<h1>Welcome to my favourite Beaches</h1>
<div>
<p class = "bio">Here's a collection of my favourite beaches around the world</p>
</div>

<img src="https://lh3.googleusercontent.com/proxy/vQsjR1lJq7giKxEKB3cXtwxcZPGTmuJXIZCO5ZZTbc0A5qtlBM55X5hIncJCGTFQrsvwWheIiShqQmjbp3FtZ3Ji" class="wave">

<img src="https://lh3.googleusercontent.com/proxy/Z77mwht_1AbomPnibRd7YNzoxqEnSygfe2kAQ5Nz9hFH_V_nFaiXAmMLwUrgwH6thVaAeVvkVUywNF-nS5cOBFKy0h09Tyb_4r8CF7Lbc-N9NOsUnpYpvy2ik16aYac1W-Pzqvl7q-8kTWCuo5per37sW8kFU90Y7_w" class="bubbles">
