<h1>Magic 8 Ball</h1>
<h3>Let the magic ball tell your future!</h3>

<form action="/magic_eight_ball">
  <label>
    Question:
    <input type="text" name="question" require placeholder="Enter your question here...">
  </label>
<!-- assign 'name="question" to controller form' -->
  <button>Find out fortune!</button>
</form>
