<div id="container">


<div id="question">Are you speaking to ... ?</div>

  <a class="open" href="/speaktochild_yes">Yes</a>
  <a class="open" href="/speaktochild_no">No</a>
  <a class="open" href="/speaktochild_no">No</a>
  <a class="open" href="/speaktochild_no">No</a>
  <a class="open" href="/speaktochild_no">No</a>
  <a class="open" href="/speaktochild_no">No</a>

</div>
