<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Quote for Express</title>
  </head>
  <body>
    <h1>Stock Quote for Express</h1>
    <h2>Enter a stock symbol below</h2>
    <form action="/result">
      <label for="">
        Stock symbol code:
        <input type="text" name="symbol" placeholder="GOOG" />
        <button type="submit">Submit</button>
      </label>
    </form>
  </body>
</html>
