@import 'scss/config';
@import 'scss/utilities';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

span {
  font-size: 22px;
}


@import 'scss/header';
@import 'scss/section';
@import 'scss/cards';
@import 'scss/footer';
@import 'scss/forms';
@import 'scss/buttons';
@import 'scss/fonts';
